
<section class="benefits-section theme-bg-light py-5">

    <div class="container">
        <h3 class="mb-2 text-center font-weight-bold section-title">How We work!</h3>
        <div class="mb-5 text-center section-intro">From Web Developers to App Developers to Designers</div>
        <div class="row">
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="icon-holder text-center mx-auto mb-3">
                        <i class="fas fa-code"></i>
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">Webapps Creation, Ecommerce and Digital Products with newest technologies</h5>
                    <div>
                    Our dedicated teams of specialists
                    Expert Developers, Engineers and Designers at your disposal
                    Sprint/Millestone based work with unlimited scope changes
                    CD/CI Full Agile methodology and trackable Project Management Process
                    Choose Dedicated Project Manager or manage the project by yourself
                    Back-end/Front-end/Full-Stack Engineers
                    UI/UX Designers
                    DevOps
                    QAs
                    Project Managers

                    <div class="tech-icons mb-3">
                        <i class="fab fa-angular mr-2"></i>
                        
                        <i class="fab fa-vuejs mr-2"></i>
                        <i class="fab fa-react mr-2"></i>
                        <i class="fab fa-html5 mr-2"></i>
                        <i class="fab fa-js mr-2"></i>
                        
                    </div>

                    <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                    <div class="mt-2"><a href="pages/features">Learn more &rarr;</a></div>
                    </div><!--//item-inner-->
            </div><!--//item-->
  
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="icon-holder text-center mx-auto mb-3">
                        <i class="fas fa-satellite-dish"></i>
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">Digital Marketing, SEO/SEM  Optimization based on Artificial Intelligence </h5>
                    <div>Social Media, Brand Monitoring,
                        Email Marketing,
                        Paid Advertising PPC,
                        Growth Hacking,
                        Marketring Analytics,
                        Marketing Reporting
                        Performance, SEO Audit,
                        everything depending on your needs.
                        You get will a full report of issues and suggested improvements every week
                        Bi-weekly or Montly
                        We can also fix the issues for you or suggest next steps.
                        <div class="tech-icons mb-3">
                            <i class="fab fa-youtube mr-2"></i>
                            <i class="fab fa-twitter mr-2"></i>
                            <i class="fab fa-linkedin mr-2"></i>
                            <i class="fab fa-instagram mr-2"></i>
                            <i class="fab fa-mailchimp mr-2"></i>
    
                        </div>
  
  <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                    <div class="mt-2"><a href="pages/features">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->
  
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="icon-holder text-center mx-auto mb-3">
                        <i class="fas fa-cubes"></i>
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">Design, Branding, UX/CX, Customer Centric Projects</h5>
                    <div>Chill Out While We Work
  
                    Web pages and web applications design based on best practices
                    UX/UI Designer at your disposal
                    Bespoke or themes-based design - you decide!
                    Re-design for a better UI and UX
                    Visual Brand Identity to let the competition behind
                    <div class="tech-icons mb-3">
                        <i class="fab fa-js-square mr-2"></i>
                        <i class="fab fa-bootstrap mr-2"></i>
                        <i class="fab fa-html5 mr-2"></i>
                        <i class="fab fa-sass mr-2"></i>
                        <i class="fab fa-sketch"></i>
                    </div>
                    <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                    <div class="mt-2"><a href="pages/features">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->
  
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="icon-holder text-center mx-auto mb-3">
                        <i class="fas fa-rocket"></i>
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">Infrastructure, Security, Payments, BlockChain</h5>
                    <div>Project managed by us from A to Z
                        A project that fulfills all your expectations
                        Trackable management system
                        Quality Assurance engineer for the whole process
                        Price based on a scope or hourly rate
  
                        Design and Development - RWD
                        Fixed price or hourly-based fee
                        Individual evaluation according to your needs
                        Complexity and Agile methodology

                        <div class="tech-icons mb-3">
                            <i class="fab fa-bitcoin mr-2"></i>
                            <i class="fab fa-ethereum mr-2"></i>
                            <i class="fab fa-stripe mr-2"></i>
                            <i class="fab fa-paypal"></i>
    
                        </div>
                     <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                    <div class="mt-2"><a href="pages/docs">View docs &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->
  
        </div><!--//row-->
        <div class="pt-3 text-center">
            <a class="btn btn-light" href="pages/features">View All Features<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div>
  
  </section><!--//benefits-section-->
  
