<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-pt-2">

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Full Stack Dev</h4>
      <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Job role and description:</h6>
      <p class="au-lh-3">Java with Spring Boot, React, Javascript, MongoDB, Native apps, Banking App. Madrid
        Technically, you are expected to have very good Java and Javascript programming skills. Furthermore, you should
        have good experience developing with React with Redux and its recommendable to have worked with React-Native and
        have knowledge on native apps and Spring Boot. On top of that, experience in database technologies, preferably
        MongoDB is necessary. DevOps experience in AWS/Azure environments with Docker, Ansible and similar technologies
        will be a plus. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Working environment culture:</h6>
      <p class="au-lh-3">We work in the basis of SCRUM, with JIRA, Confluence, Bitbucket and Slack as main channels.
        Also, our code lifecycle follows similar rules to those defined by the gitflow approach. You don’t need to know
        about all the above, we just highlight it to let you know. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Conditions</h6>
      <p class="au-lh-3">We work remotely about 3 days per week. Our working hours are from 9 to 18, but Fridays we work
        from 8 to 15. In July and August we work from 8 to 15 as well. Ah, and our offices are at the very center of
        Madrid, close to the tube and train stations.
        Your year salary will be set in the basis of your expertise, within a range of 30.000€ to 40.000€ per year.
        For more information about this Full Stack Developer job or any other developer jobs we have available, please
        send your CV to ignacio@dipass.io or jobs@dipass.io </p>
      <p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html"
      class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
</div>
