<section class="hero-section py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
        <h1 class="site-headline font-weight-bold mb-3 animated zoomIn delay-0.6s" style="color:#d3d7e1" >
              <!-- /react-text --><span data-reactid="237">Be Digital</span><!-- react-text: 238 -->

          <h3 data-reactid="226">We Build & Grow Digital</h3><span data-reactid="227">
            <p data-reactid="228"><!--<span data-reactid="229 animated">Branding &amp; Arts </span>-->
              <!-- react-text: 230 -->
              
              <!-- /react-text --><span data-reactid="237">Web Development</span><!-- react-text: 238 -->
              +
              <!-- /react-text --><span data-reactid="235">App Products Build</span><!-- react-text: 236 -->
              +
              <!-- /react-text --><span data-reactid="239">Digital Marketing</span><!-- react-text: 240 -->
              +
</p>

          </span>
        </h1>
        <div class="site-tagline mb-4"> 
         <!-- <h2>We Design and Hack Digital</h2> -->
          The (Be-to-you.com) Dipassio Project has developed proprietary
          technology and methods to enhance your company digital visibility and conversions, resulting in exponential increases in
          organic visits for our industry leading clients.
          Headquartered in Madrid, Spain <span id="typewriter" class="text-primary"></span>.</div>
        <div class="cta-btns mb-lg-3">
          <a class="btn btn-primary mr-2 mb-3" href="pages/contact">Get your Quote Today!<i
              class="fas fa-arrow-alt-circle-right ml-2"></i></a>
          <a class="btn btn-secondary mb-3" href="pages/about">View Docs<i
              class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
      </div>
      <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
        <img class="hero-figure mx-auto animated rotateIn delay-1.5s" style= " " src="assets/images/jhipster_family_member_1.svg"
          alt="">
      </div>
    </div>
    <!--//row-->
  </div>

</section>
<!--//hero-section-->
<section>
  <app-photos></app-photos>
  <contactForm></contactForm>
  <app-howwqework></app-howwqework>
  <app-features></app-features>
  <app-teaser></app-teaser>
  <app-pricing></app-pricing>

</section>
